{% extends 'base.html' %}

{% block content %}
<br><br><br>
<h3>Career Blog</h3>
<div id="career-list">
    {% for career in careers %}
    <div class="career">
        <h2>{{ career.title }}</h2>
        <p>{{ career.description }}</p>
        <p><strong>Relevant Majors:</strong> {{ career.majors }}</p>
        <p><strong>Skills Required:</strong> {{ career.skills }}</p>
        <p><strong>Average Salary:</strong> {{ career.salary }}</p>
        <p><strong>Top Colleges:</strong> {{ career.colleges }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
