<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/style/style.css" />
    <style>
        h1{
            font-size: 2.5rem;
            color: #0a3d62;
        }
        .ul{
            font-size: 1.6rem;
            color: black;
        }
        p{
            font-size: 1.6rem;
            color: black;
        }
        .hea{
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    </style>
  </head>
  <body>
    <header>
      <a href="#" class="logo">CareerCounselling</a>
      <div id="menu" class="fas fa-bars"></div>
      <nav class="navbar">
        <a class="active" href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About Us</a>
        <a href="{{ url_for('contact') }}">Contact Us</a>
        <!-- <a href="{{ url_for('login') }}">login</a> -->
        <div class="dropdown">
          <a href="#" id="moreLink">More <i class="fas fa-caret-down"></i></a>
          <div class="submenu" id="moreSubmenu">
            <a href="{{ url_for('careerg') }}">Career</a>
            <a href="{{ url_for('aptitude') }}">Aptitude</a>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <h1 class="hea">Computer Science & Engineering</h1>
<br><br>
      <h1>What Makes This Career Worth Pursuing?</h1>
      <p>
        Are you fascinated by computers and technology? If so, then you should seriously consider pursuing a career in Computer Science & Engineering. This field of engineering utilizes elements of both computer science and electronics to create computer systems.

Computer engineers are involved in tasks ranging from designing microcontrollers, personal computers, and supercomputers to working on circuit design. They deal with various aspects of hardware and software in computing. Beyond understanding the inner workings of computer systems, this field also emphasizes how they fit into the broader landscape of different industries. By merging electrical engineering with computer science, computer engineers are able to develop innovative computer hardware and software. They often work in roles as software and hardware engineers.</p>
      <br><br>

      <h1>Description</h1>
      <p>
        Computer engineers are tasked with the design, creation, and evaluation of computer systems and their integral parts, encompassing processors, circuit boards, memory units, networks, and routers. They hold the responsibility for a wide spectrum of tasks, ranging from software development, system and network establishment, to algorithm implementation and safeguarding system security for sensitive information. Furthermore, computer engineers are frequently relied upon to offer technical support to non-technical colleagues, including board members. Their scope of work encompasses both hardware and software, ensuring seamless integration and optimal functionality.
      </p>
<br><br>
      <h1>Skills You Need</h1>
      <ul class="ul">
        <li>
            Communication Skills: These are essential as they need to interact with clients as well as investors/shareholders.
        </li>
        <li>
            Technical Skills: The professionals must have solid basic knowledge in science. They must have strong maths skills as math is required for both for the construction of hardware and the programming of software.
        </li>
        <li>
            Managerial Skills: Progress of a computer engineer is through leading their teams. It is very necessary to have management skills to progress in a career.
        </li>
        <li>Problem Solving Skills: This is the basic description of the job of a computer engineer. Even the tiny error will enable the programme to run.</li>
      </ul>
<br><br>
      <h1>How To Pursue</h1>
      <ul class="ul">
        <li>
            School: Any subject combination taking Science or Commerce or Arts (Humanities).
        </li>
        <li>
            Graduation: B.Tech in Computer Science & Engineering / B.Tech in Software Engineering / B.Tech in Information Technology
        </li>

        <li>
            Post Graduation: M.Tech in Computer Science & Engineering.
        </li>
      </ul>
      <br><br>
      <h1>Job Opportunities</h1>
      <ul class="ul">
        <li>Software Developer</li>
      <li>Machine Learning Engineer</li>
      <li>Data Analyst</li>
      <li>Cybersecurity Analyst</li>
      <li>Database Administrator</li>
      <li>Network Engineer</li>
      </ul>
<br><br>
      <h1>Top Indian Institutes</h1>
      <ul class="ul">
        <li>Indian Institute of Technology (IITs)</li>
        <li>Birla Institute of Technology & Science (BITS)</li>
        <li>National Institute of Technology (NITs)</li>
       <li>Delhi Technological University (DTU)</li>
      </ul>
<br><br>
      <h1>Pros</h1>
      <ul class="ul">
        <li>
            The pay packages are very good, so would account for a comfortable life..
        </li>
        <li>
            The work environment is positive and allows the individual to thrive.
        </li>
        <li>There is a high possibility of progress, with experience.</li>
      </ul>
      <br><br>
      <h1>Cons</h1>
      <ul class="ul">
        <li>It can be a stressful job with work load and tight deadlines.</li>
        <li>
            Regular updating of knowledge because of the ever-evolving technology.
        </li>
        <li>
            Long sitting hours in front of the computer may have negative health effects.
        </li>
      </ul>
    </section>

    <br><br><br><br>

    <div class="footer">
      <div class="box-container">
        <div class="box">
          <h3>about us</h3>
          <p>
            Aptitude-based career counseling website provides personalized assessments to match individuals with suitable career paths, offering guidance on planning, education, and job search strategies aligned with their strengths and interests.
          </p>
        </div>
        <div class="box">
          <h3>locations</h3>
          <a href="#">india</a>
          <a href="#">USA</a>
          <a href="#">france</a>
          <a href="#">russia</a>
          <a href="#">japan</a>
        </div>
        <div class="box">
          <h3>Quick links</h3>
          <a href="#">home</a>
          <a href="#">about</a>
          <a href="#">contact</a>
          <a href="#">careerguidance</a>
          <a href="#">aptitude</a>
        </div>
        <div class="box">
          <h3>Follow Us</h3>
          <a href="#">facebook</a>
          <a href="#">twitter</a>
          <a href="#">instagram</a>
          <a href="#">linkedin</a>
          <a href="#">youtube</a>
        </div>
      </div>
      <h1 class="credit">created by<a href="#">Us</a>&copy; copyright @2024</h1>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
