<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/style/style.css" />
    <style>
        h1{
            font-size: 2.5rem;
            color: #0a3d62;
        }
        .ul{
            font-size: 1.6rem;
            color: black;
        }
        p{
            font-size: 1.6rem;
            color: black;
        }
        .hea{
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    </style>
  </head>
  <body>
    <header>
      <a href="#" class="logo">CareerCounselling</a>
      <div id="menu" class="fas fa-bars"></div>
      <nav class="navbar">
        <a class="active" href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About Us</a>
        <a href="{{ url_for('contact') }}">Contact Us</a>
        <!-- <a href="{{ url_for('login') }}">login</a> -->
        <div class="dropdown">
          <a href="#" id="moreLink">More <i class="fas fa-caret-down"></i></a>
          <div class="submenu" id="moreSubmenu">
            <a href="{{ url_for('careerg') }}">Career</a>
            <a href="{{ url_for('aptitude') }}">Aptitude</a>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <h1 class="hea">Fashion Business Management</h1>
<br><br>
      <h1>What Makes This Career Worth Pursuing?</h1>
      <p>
        Do you want to learn the mechanics of managing a fashion brand? Then, fashion business management is just the profession for you! Fashion Business Management entails assuming roles like sales, marketing, product development, retail management, etc. within the merchandising industry.

The world of fashion and luxury brands is complex and dynamic, thus allowing for a lot of scope. This is a very creative job and requires people to have a great knowledge of fashion along with a good understanding of business and management concepts. One requires a fairly good understanding of the theoretical, practical, and ethical processes involved in textile and clothing design, production, distribution, and consumption. They must also successfully communicate material supply, pricing, and schedules with their teams and manufacturers.</p>
      <br><br>

      <h1>Description</h1>
      <p>
        A fashion manager is in charge of developing fresh and unique marketing techniques for a certain product to improve market demand. As a result, fashion management entails conducting extensive research and analysis of current fashion trends to forecast the success and popularity of a specific product among consumers based on its pricing and usefulness. As a result, fashion managers must have a keen eye for detail, excellent communication skills, and a thorough understanding of current industry trends. The field entails deals with using media and marketing to increase and maintain a product's brand value and awareness.
      </p>
<br><br>
      <h1>Skills You Need</h1>
      <ul class="ul">
        <li>
            Communication Skills: Designers and merchandisers, in particular, must master the art of pitching, which necessitates the correct balance of precision, confidence, and succinctness.
        </li>
        <li>
            Business Skills: To keep within budget and advertise their products, a great fashion designer has excellent business skills.
        </li>
        <li>
            Creativity Skills: Designers must always come up with new and innovative ways to differentiate the apparel they create.
        </li>
        <li>Computer Skills: Fashion designers should be conversant with computer-aided design (CAD) applications and any graphic editing software that might assist them better their designs.</li>
        <li>Decision-Making Skills: It'll be crucial to your success if you know how to make the proper design alterations and decisions.</li>
      </ul>
<br><br>
      <h1>How To Pursue</h1>
      <ul class="ul">
        <li>
            School: Any subject combination taking Science or Commerce or Arts (Humanities).
        </li>
        <li>
            Graduation: BA. (Hons.) Fashion & Lifestyle Business Management / Diploma in Fashion Retail Management.
        </li>

        <li>
            Post Graduation: Masters in Fashion Design Management / PG Diploma in Retail Management.
        </li>
      </ul>
      <br><br>
      <h1>Job Opportunities</h1>
      <ul class="ul">
        <li>Apparel Brands</li>
      <li>Boutiques</li>
      <li>PR Manager</li>
      <li>Fashion Marketing Manager
    </li>
     
      </ul>
<br><br>
      <h1>Top Indian Institutes</h1>
      <ul class="ul">
        <li>National Institute of Fashion Technology</li>
        <li>Footwear Design and Development Institute</li>
        <li>Vogue Fashion Institute</li>
        <li>Indian School of Design and Innovation</li>
       <li>MIT Institute of Design</li>
      </ul>
<br><br>
      <h1>Pros</h1>
      <ul class="ul">
        <li>
            It's a new field with a lot of room for advancement.
        </li>
        <li>
            You will get the chance to travel and interact with others.
        </li>
        <li>You will master commercial strategies, and you will not be required to be creative because this is not a hard-core design sector.</li>
      </ul>
      <br><br>
      <h1>Cons</h1>
      <ul class="ul">
        <li>It's difficult to make a name for yourself in the community.</li>
        <li>
            You will be expected to work irregular hours.
        </li>
        <li>
            You'd have to be up to date on the newest fashion and business trends.
        </li>
      </ul>
    </section>

    <br><br><br><br>

    <div class="footer">
      <div class="box-container">
        <div class="box">
          <h3>about us</h3>
          <p>
            Aptitude-based career counseling website provides personalized assessments to match individuals with suitable career paths, offering guidance on planning, education, and job search strategies aligned with their strengths and interests.
          </p>
        </div>
        <div class="box">
          <h3>locations</h3>
          <a href="#">india</a>
          <a href="#">USA</a>
          <a href="#">france</a>
          <a href="#">russia</a>
          <a href="#">japan</a>
        </div>
        <div class="box">
          <h3>Quick links</h3>
          <a href="#">home</a>
          <a href="#">about</a>
          <a href="#">contact</a>
          <a href="#">careerguidance</a>
          <a href="#">aptitude</a>
        </div>
        <div class="box">
          <h3>Follow Us</h3>
          <a href="#">facebook</a>
          <a href="#">twitter</a>
          <a href="#">instagram</a>
          <a href="#">linkedin</a>
          <a href="#">youtube</a>
        </div>
      </div>
      <h1 class="credit">created by<a href="#">Us</a>&copy; copyright @2024</h1>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
