<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Career</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="/static/style/style.css" />
</head>
<body>
  <header>
    <a href="#" class="logo">CareerCounselling</a>
    <div id="menu" class="fas fa-bars"></div>
    <nav class="navbar">
      <a class="active" href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('about') }}">About Us</a>
      <a href="{{ url_for('contact') }}">Contact Us</a>
      <div class="dropdown">
        <a href="#" id="moreLink">More <i class="fas fa-caret-down"></i></a>
        <div class="submenu" id="moreSubmenu">
          <a href="{{ url_for('careerg') }}">Career</a>
          <a href="{{ url_for('aptitude') }}">Aptitude</a>
          <a href="{{ url_for('form') }}">Blog</a>
          <a href="{{ url_for('recomm1') }}">Recommend</a>
        </div>
      </div>
      <div class="profile-image-container">
        <a class="prof" href="{{ url_for('profile') }}">
       
          <img src="{{ url_for('static', filename='img/profile_1.png')}}" alt="Profile Image" class="profile-image" />
        </a>
      </div>
    </nav>
  </header>
  <section class="home" id="home">
    <div class="content">
      <div class="right">
        <h1>Choose Your best Perfect Career</h1>
        <h3>with Career Expert</h3>
        <a href="{{ url_for('aptitude') }}" class="btn">Get Now</a>
      </div>
      <div class="left">
        <img src="{{url_for('static', filename='img/grp.png')}}" alt="" />
      </div>
    </div>
  </section>
  <button id="chatButton">
    <i class="fa-solid fa-comments" id="chatt"></i>Let's Chat
  </button>
  <section class="career" id="career">
    <h1 class="heading">Checkout Exciting Career</h1>
    <div class="box-container">
      <div class="box">
        <img src="{{url_for('static', filename='img/ma.jpg')}}" alt="" />
        <a href="{{ url_for('manage') }}">
          <h3>Management</h3>
        </a>
        <p>(5 possible oppurtunities)</p>
      </div>
      <div class="box">
        <img src="{{url_for('static', filename='img/engi.jpg')}}" alt="" />
        <a href="{{ url_for('enginee') }}">
          <h3>Engineering</h3>
        </a>
        <p>(8 possible oppurtunities)</p>
      </div>
      <div class="box">
        <img src="{{url_for('static', filename='img/med.jpg')}}" alt="" />
        <a href="{{ url_for('medici') }}">
          <h3>Medicine</h3>
        </a>
        <p>(7 possible oppurtunities)</p>
      </div>
      <div class="box">
        <img src="{{url_for('static', filename='img/gg.jpg')}}" alt="" />
        <a href="{{ url_for('design') }}">
          <h3>Design & Graphics</h3>
        </a>
        <p>(5 possible oppurtunities)</p>
      </div>
      <div class="box">
        <img src="{{url_for('static', filename='img/gradu.jpg')}}" alt="" />
        <a href="{{ url_for('graduate') }}">
          <h3>Graduate</h3>
        </a>
        <p>(6 possible oppurtunities)</p>
      </div>
      <div class="box">
        <img src="{{url_for('static', filename='img/fina.jpg')}}" alt="" />
        <a href="{{ url_for('finance') }}">
          <h3>Finance & Accounts</h3>
        </a>
        <p>(5 possible oppurtunities)</p>
      </div>
      <div class="box">
        <img src="{{url_for('static', filename='img/ed.jpg')}}" alt="" />
        <a href="{{ url_for('education') }}">
          <h3>Education & Training</h3>
        </a>
        <p>(4 possible oppurtunities)</p>
      </div>
      <div class="box">
        <img src="{{url_for('static', filename='img/civil.jpg')}}" alt="" />
        <a href="{{ url_for('civil') }}">
          <h3>Civil Services</h3>
        </a>
        <p>(5 possible oppurtunities)</p>
      </div>
      <div class="box">
        <img src="{{url_for('static', filename='img/media.jpg')}}" alt="" />
        <a href="{{ url_for('media') }}">
          <h3>Media & Journalism</h3>
        </a>
        <p>(5 possible oppurtunities)</p>
      </div>
    </div>
    <div class="browse">
      <a href="{{ url_for('careerg') }}">
        <h2>Browse all Categories</h2>
      </a>
    </div>
  </section>

  <section class="course" id="course">
    <h1 class="heading">Some Popular Courses</h1>
    <div class="box-container">
      <div class="box">
        <div class="right">
          <div class="l">
            <img src="{{url_for('static', filename='img/ai.avif')}}" alt="" />
          </div>
          <div class="r">
            <h1>Machine Learning Engineer</h1>
            <br />
            <h2>Qualification:B Tech</h2>
            <h2>Category:Engineering</h2>
            <h2>Duration: 4 Years</h2>
          </div>
        </div>
        <div class="left">
          <a href="{{ url_for('ai') }}" class="btn">Explore</a>
        </div>
      </div>
      <div class="box">
        <div class="right">
          <div class="l">
            <img src="{{url_for('static', filename='img/images.jpg')}}" alt="" />
          </div>
          <div class="r">
            <h1>Surgeon</h1>
            <br />
            <h2>Qualification:MS</h2>
            <h2>Category:Medicine</h2>
            <h2>Duration: 8 Years</h2>
          </div>
        </div>
        <div class="left">
          <a href="{{ url_for('sur') }}" class="btn">Explore</a>
        </div>
      </div>
      <div class="box">
        <div class="right">
          <div class="l">
            <img src="{{url_for('static', filename='img/en.jpg')}}" alt="" />
          </div>
          <div class="r">
            <h1>Enterpreneur</h1>
            <br />
            <h2>Qualification:Any Bachelor Degree</h2>
            <h2>Category:Graduate</h2>
            <h2>Duration: 2 Years</h2>
          </div>
        </div>
        <div class="left">
          <a href="{{ url_for('ent') }}" class="btn">Explore</a>
        </div>
      </div>
    </div>
    <br />
    <div class="browse">
      <a href="{{ url_for('careerg') }}">
        <h2>Browse all Categories</h2>
      </a>
    </div>
  </section>
  <br /><br />

  <div class="footer">
    <div class="box-container">
      <div class="box">
        <h3>about us</h3>
        <p>
          Aptitude-based career counseling website provides personalized
          assessments to match individuals with suitable career paths,
          offering guidance on planning, education, and job search strategies
          aligned with their strengths and interests.
        </p>
      </div>
      <div class="box">
        <h3>locations</h3>
        <a href="#">india</a>
        <a href="#">USA</a>
        <a href="#">france</a>
        <a href="#">russia</a>
        <a href="#">japan</a>
      </div>
      <div class="box">
        <h3>Quick links</h3>
        <a href="#">home</a>
        <a href="#">about</a>
        <a href="#">contact</a>
        <a href="#">careerguidance</a>
        <a href="#">aptitude</a>
      </div>
      <div class="box">
        <h3>Follow Us</h3>
        <a href="#">facebook</a>
        <a href="#">twitter</a>
        <a href="#">instagram</a>
        <a href="#">linkedin</a>
        <a href="#">youtube</a>
      </div>
    </div>
    <h1 class="credit">created by<a href="#">Us</a>&copy; copyright @2024</h1>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="/static/script.js"></script>
  <script>
    document
      .getElementById("chatButton")
      .addEventListener("click", function () {
        window.location.href =
          "https://mediafiles.botpress.cloud/9bf8dc1f-2c3a-4a18-b7e1-c0e3c2642f23/webchat/bot.html";
      });
  </script>
  <!-- <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script> -->
  <!-- <script src="https://mediafiles.botpress.cloud/9bf8dc1f-2c3a-4a18-b7e1-c0e3c2642f23/webchat/config.js" defer></script> -->
</body>

</html>